<!-- <!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
	</head>
	<body>
		<section class="prompt">
			
			<h1>Check your email</h1>
			<p class="instructions">We sent a magic link to your email address. Click the link in that email to sign in.</p>
			<hr>
			<p class="help">Didn't receive the email? <a href="/login">Get another link</a></p>
		</section>
	
	</body>
</html> -->
