<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
	</head>
	<body>
		<section class="ourapp">
			
			Username: <b><%= user.name || user.username || user.email %></b>
					
						<form action="/logout" method="post">
							<button class="logout" type="submit">Sign out</button>
						</form>
						
			

		</section>
	
	</body>
</html>
